.to-do-list-content {
  background-color:#87ceeb;
  height: 100%;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.to-do-list-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
}

.to-do-list-header > h1 {
  margin: 0;
  font-size: 32pt;
  color: white;
}

.to-do-list > * {
}

.to-do-list-card {
  margin: 10px;
  min-width: 0; /* allows card to shrink even more than it can */
}

.to-do-list-card > * {

}

@media only screen and (min-width: 960px) {
  .to-do-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 20rem;
  }
}

@media only screen and (min-width:576px) and (max-width: 960px) {
  .to-do-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 20rem;
  }
}

@media only screen and (max-width: 576px) {
  .to-do-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 20rem;
  }
}