.to-do-list-content {
  background-color:pink;
  height: 100%;
  width: 100%
}

.to-do-list > * {
}

.to-do-list-card {
  background-color: lightpink;
  margin: 10px;
}

@media only screen and (min-width: 768px) {
  .to-do-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 10rem;
  }
}

@media only screen and (min-width:576px) and (max-width: 768px) {
  .to-do-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 10rem;
  }
}

@media only screen and (max-width: 576px) {
  .to-do-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 10rem;
  }
}