<!-- <input
  type="text"
  [value]="this.passedData.task"
  (change)="newMessage()"
/> -->
<main class="item-dialog">
  <section class="item-dialog-section--main">
    <p>ID: {{passedData.id}}</p>
    <textarea
      matInput
      type="text"
      [attr.maxlength]="MAX_LENGTH"
      [value]="passedData.task"
      (keydown.enter)="onSave(newTask.value, isCompleted.checked)"
      name="newTask"
      #newTask
      >
    </textarea>
    <p>{{newTask.textLength}}/{{MAX_LENGTH}}</p>
  </section>
  <section>
    <mat-checkbox
      type="checkbox"
      [checked]="passedData.isCompleted"
      name="isCompleted"
      #isCompleted
    ></mat-checkbox>
    <button mat-button
      type="button"
      (click)="onSave(newTask.value, isCompleted.checked)"
      #save
      >Save</button>
  </section>
</main>