<!-- <input
  type="text"
  [value]="this.passedData.task"
  (change)="newMessage()"
/> -->
<main class="item-dialog">
  <section class="item-dialog-section--main">
    <p>ID: {{passedData.id}}</p>
    <textarea
      matInput
      type="text"
      [attr.maxlength]="MAX_LENGTH"
      [value]="passedData.task"
      (keydown.enter)="onSave(newTask.value, isCompleted.checked)"
      name="newTask"
      #newTask
      >
    </textarea>
    <p>{{newTask.textLength}}/{{MAX_LENGTH}}</p>
  </section>
  <section>
    <!-- <mat-checkbox
      type="checkbox"
      [checked]="passedData.isCompleted"
      name="isCompleted"
      #isCompleted
    ></mat-checkbox> -->
    <label class="container">
        <span id="text">Completed</span> 
        <input type="checkbox" [checked]="passedData.isCompleted" name="isCompleted" #isCompleted>
        <span class="checkmark"></span>
    </label>
    <hr> 
    <div class="button-container">
      <button mat-raised-button
        color="primary"
        type="button"
        (click)="onSave(newTask.value, isCompleted.checked)"
        #save
        >Save</button>
      <button mat-raised-button
        color="warn"
        type="button"
        (click)="delete(this.passedData.id)"
        #save
        >Delete task</button>
    </div>
  </section>
</main>