:root {
  --navbar-height: 6rem;
  --footer-height: 6rem;
}

main {
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  background-image: url('../assets/images/trees.png');
}

.navbar {
  display: flex;
  justify-content: center;
  height: 6rem;
  width: 100%;
  background-color: #aca3ca;
}

.navbar-links {
  max-width: 80rem;
  min-width: 10rem;
  width: 55vw;
}

.navbar--right {
  margin-right: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 6rem;
  background-color: #aca3ca;
  ;
}

.navbar--right > ul {
  list-style-type: none;
}

.page-content {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding-bottom: 6rem;
}

.page-content-section {
  width: 55vw;
  max-width: 80rem;
}

.footer {
  background-color: white;
  position: absolute;
  height: 6rem;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14pt;
}