:root {
  --navbar-height: 6rem;
  --footer-height: 6rem;
}

main {
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}

.navbar {
  height: 6rem;
  background-color: #CCCCCC;
}

.page-content {
  display: flex;
  justify-content: center;
  height: calc(100vh - 12rem);
}

.page-content-section {
  width: 55vw;
  max-width: 80rem;
}

.footer {
  background-color: #CCCCCC;
  position: absolute;
  height: 6rem;
  bottom: 0;
  width: 100%;
}