:root {
  --navbar-height: 6rem;
  --footer-height: 6rem;
}

main {
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
}

.navbar {
  height: 6rem;
  background-color: #EEEEEE;
}

.page-content {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding-bottom: 6rem;
}

.page-content-section {
  width: 55vw;
  max-width: 80rem;
}

.footer {
  background-color: #EEEEEE;
  position: absolute;
  height: 6rem;
  bottom: 0;
  width: 100%;
}